* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: black;
    height: 4.5vw;
    width: 100%;
    
}

 

nav .wrapper {
    display: flex;
    justify-content: space-between;
    
    width:90%;
    margin: auto;

     
}

.logo {
    width: 25%;
    max-height: 4.5vw;

}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 3.5vw;
    line-height: 4.5vw;
    padding: 0vw 3vw;
}

.icon i {
    color: white;
    line-height: 4.5vw;
    font-size: 2vw;
    display: none;
}

.nav-links {
    width: 75%;
    list-style: none;
    display: flex;
    padding-right: 3vw;
    
    justify-content: space-between;
    display: block;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    font-weight: 100;
    line-height: 4.5vw;
    border-radius: 5px;
    padding: 1vw 1.5vw;
    transition: all ease 0.2s;
}

.nav-links li a:hover {
    background-color: #3A3B3C;
}

.nav-links .drop-menu {
    background-color: #242526;
    width: 11.5vw;
    top: 4.5vw;
    position: absolute;
    opacity: 0;
    display: none;
    text-align: center;
}

.fa-solid {
    color: white;
    font-size: 1.5vw;
}

.drop-menu li a {
    font-size: 1.5vw;
    color: gold;
    line-height: 3.5vw;
    padding: 0.5vw 0.5vw;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    display: block;
    opacity: 1;
    transition: all 0.3s ease;
}

ul {
    list-style: none;
    border-radius: 0.1vw;
}

.mega-box {
    position: absolute;
    top: 4.5vw;
    width: 100%;
    min-height: 5vw;
    left: 0;
    display: none;
}

.mega-box .content {
    background-color: #242526;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3vw 2vw;
}

.mega-box li a {
    padding: 0vw 0vw;
}

.content .row {
    width: 20%;
    line-height: 1vw;
}

.content .row img {
    width: 22vw;
    height: 14vw;
    object-fit: cover;
}

.content .row header {
    padding-bottom: 1vw;
    color: white;
    font-size: 2vw;
}

.content .row .mega-links {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
    padding: 0vw 1vw;
}

.mega-links li a {
    line-height: 3vw;
    padding: 0.3vw 5vh;
}

/* responsive codes for mobiles  */
@media (max-width: 728px) {
   
    nav {
        height: 12vw; 
    }

    .logo a {
        font-size: 6vw;
        padding: 0vw 8vw;
        line-height: 12vw;
    }

    .nav-links {
        position: absolute; 
        left:0px;
        width: 100%; 
        flex-direction: column;
        background-color: #242526;
        top: 12vw;
        line-height: 3vw;
        text-align: center;
        display: none;
    }
    .showitem{
        display: block;
    }

    .nav-links li {
        border-bottom: 1px solid white;
    }

    .nav-links li a {
        width: 100%;
        font-size: 4vw;
        line-height: 8vw;
    }

    .nav-links .drop-menu {
        width: 40vw;
        position: absolute;
        left: 30vw;
        top: 24.55vw;
    }

    .icon i {
        display: block;
        font-size: 6vw;
        line-height: 12vw;
        padding-right: 7vw;
    }

    .mega-box {
        min-height: 10vw;
        top: 32.8vw;
    }

    .content .row {
        width: 80%;
        margin: auto;
    }

    .fa-solid {
        font-size: 4vw;
    }

    .content .row img {
        padding: 3vw;
        width: 75vw;
        height: 40vw;
    }

    .content .row header {
        color: gold;
        padding: 4vw 0vw;
        font-size: 4vw;
        text-align: left;
    }

    .mega-box .content {
        flex-direction: column;
        padding: 0vw 0vw;
    }

    .content .row .mega-links {
        border: none;
    }

    .content .row .mega-links li {
        border: none;
        text-align: left;
    }
}

@media (min-width: 729px){
    .nav-links{
        display: flex;
        flex-direction: row;
    }
    .wrapper{
        display: flex;
    }

    .nav-links a{
        color: green;
    }
}